.loader {
    font-size: 48px;
    font-weight: bold;
    display: inline-block;
    color: #D81E33;
    letter-spacing: 2px;
    position: relative;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .loader::after {
    content: 'Loading';
    position: absolute;
    left: 0;
    top: 0;
    color: #21262C;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    animation: animloader 6s linear infinite;
  }
  
  @keyframes animloader {
    0% {
      height: 100%;
    }
    100% {
      height: 0%;
    }
  }